@import "./variblesColor";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");
@import "./components/index.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

[class*="container"] {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 979.68px) {
    max-width: inherit;
    width: inherit;
  }
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}

.btn {
  cursor: pointer;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  height: 45px;
  width: 210px;
  border-radius: 5px;
  background-color: $btnColor;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: $btnColorActive;
  }
  &-outline {
    background: transparent;
    border: 2px solid $btnColor;
    color: $btnColor;
    &:hover {
      background-color: $btnColor;
      color: #fff;
    }
  }
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #000;
    transform: translateY(-9px);
    transition: 0.3s ease-in;
  }
  &::after {
    transform: translateY(9px);
  }
  span {
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #000;
    transition: 0.2s ease-in;
  }

  &.active {
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    span {
      transform: translateX(150px);
    }
  }
}
