@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #f3f4f6;
  z-index: 100;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header_logo {
  z-index: 100;
  font-weight: 700;
  font-size: 23px;
}

.header .navbar_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar_item:not(:last-child) {
  margin-right: 60px;
}

.header .navbar_link {
  position: relative;
  font-weight: 400;
  font-size: 17px;
}

.header .navbar_link::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.169);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar_link:hover::before {
  width: 100%;
}

.header_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-left: 140px;
}

.header_login-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header_login p {
  font-weight: 400;
  font-size: 17px;
}

@media screen and (max-width: 1100.98px) {
  .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .navbar_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar_item {
    text-align: center;
    margin: 10px !important;
  }
  .navbar_link {
    font-size: 1.5rem !important;
  }
  .header_controll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #f3f4f6;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  .header .active {
    top: 0%;
  }
  .header_login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0;
  }
  .header_login-in p {
    font-size: 1.3rem;
  }
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("https://s3-alpha-sig.figma.com/img/154e/c5ba/432d43d42533329e1b6122cfeec926ff?Expires=1650844800&Signature=Q8o8IpcUgvl6gHpop79vNpmQkpd6n4B~IIZpLd87emeApv2xNSt2cWS~CnzgM2bC8Wl7eGBqZtIrThLAEfD~A6VDq95Zvfc5euySUkYciB1-j-JdtfulK40tAVU2rgkEQqwpofikHuPP~0exD45MZBW2Hj7yK6h45XX5rBa83LdlVehC711v2DRck-IVPNq2eQbdn2SmDq6EpkOQDaeOcYAAwurrXK91U8~WYKuyNP5Gfmg4P96zPNpl4~SGzO1Ucm0P7a3TkCLkyGYwo~XLTqeHiB65YOulq3-I7GZIfh5NxJGAel~gpema8cL8fALYVRXRgZo~18ySs3G3D8TT4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://s3-alpha-sig.figma.com/img/154e/c5ba/432d43d42533329e1b6122cfeec926ff?Expires=1650844800&Signature=Q8o8IpcUgvl6gHpop79vNpmQkpd6n4B~IIZpLd87emeApv2xNSt2cWS~CnzgM2bC8Wl7eGBqZtIrThLAEfD~A6VDq95Zvfc5euySUkYciB1-j-JdtfulK40tAVU2rgkEQqwpofikHuPP~0exD45MZBW2Hj7yK6h45XX5rBa83LdlVehC711v2DRck-IVPNq2eQbdn2SmDq6EpkOQDaeOcYAAwurrXK91U8~WYKuyNP5Gfmg4P96zPNpl4~SGzO1Ucm0P7a3TkCLkyGYwo~XLTqeHiB65YOulq3-I7GZIfh5NxJGAel~gpema8cL8fALYVRXRgZo~18ySs3G3D8TT4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-top: 100px;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main_content {
  font-weight: 700;
  font-size: 3.3rem;
  color: #fff;
}

@media screen and (max-width: 676.98px) {
  .main_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_content {
    text-align: center;
  }
}

@media screen and (max-width: 569.98px) {
  .main_content {
    font-size: 2.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

[class*="container"] {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 979.68px) {
  [class*="container"] {
    max-width: inherit;
    width: inherit;
  }
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}

.btn {
  cursor: pointer;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  height: 45px;
  width: 210px;
  border-radius: 5px;
  background-color: #4f46e5;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.btn:hover {
  background-color: #716bf2;
}

.btn-outline {
  background: transparent;
  border: 2px solid #4f46e5;
  color: #4f46e5;
}

.btn-outline:hover {
  background-color: #4f46e5;
  color: #fff;
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.burger::before, .burger::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #000;
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.burger::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.burger span {
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #000;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger.active span {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}
/*# sourceMappingURL=all.css.map */