.about {
  &_content {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &_content-text {
    margin-right: 20px;
    h1 {
      font-weight: 600;
      font-size: 27px;
      margin-bottom: 20px;
    }
    P {
      font-weight: 400;
      font-size: 17px;
    }
  }

  &_content-video {
    height: 470px;
    border-radius: 10px;

    video {
      width: 605px;
      height: 100%;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 992px) {
    &_content {
      flex-direction: column;
    }

    &_content-text {
      text-align: center;
      margin: 0;
    }
    &_content-video {
      height: 350px;
      video {
        width: 450px;
      }
    }
  }
  @media screen and (max-width: 445.98px) {
    &_content-video {
      width: 370px;
    }
  }
}
