.character {
  &_box {
    display: flex;
    justify-content: first baseline;
    gap: 20px;
    margin-top: 120px;
  }

  &_carts {
    width: 288px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(248, 248, 255, 1);
    position: relative;
    cursor: pointer;

    &_img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      border: 15px solid rgba(248, 248, 255, 1);
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translate(-50%, -10%);
      z-index: 10;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_text {
      padding: 60px 30px 30px 30px;
      text-align: center;
    }
    &_name {
      width: 50%;
      margin: 5px auto;
      font-weight: 600;
      font-size: 22px;
    }

    &_skill {
      font-weight: 400;
      font-size: 17px;
      color: #898989;
      margin: 20px 0;
    }
    &_skillMain {
      font-weight: 400;
      font-size: 17px;
      margin-bottom: 20px;
    }
    &_email {
      font-weight: 600;
      font-size: 17px;
    }
    &:hover {
      .character_social {
        bottom: 0;
      }
      .character_overlay {
        opacity: 1;
      }
    }
  }
  &_social {
    position: absolute;
    bottom: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: $btnColor;
    color: #fff;
    padding: 42px;
    transition: bottom 0.4s;

    &_icon {
      margin: 15px 0;
      svg {
        margin: 0 10px;
      }
    }

    &_number {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  &_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(5px);
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
  }
}
