.card {
    width: 288px;
    height: 483px;
}
.card-content{
    padding: 30px;
    border: 1px solid red;
}

.CardTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}
.InfoContent{
    display: flex;
    padding: 0;
    flex-direction: column;
}

.InfoContent li {
    list-style: none;
    display: flex;
    align-items: center;
}