.character {
  &_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 120px;
    @media screen and (max-width: 503.98px) {
      justify-content: center;
    }
  }

  &_carts {
    width: 270px !important;
    height: 340px;
    border-radius: 5px;
    background-color: rgba(248, 248, 255, 1);
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 980.98px) {
      margin: 40px 0;
    }
    &_img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      border: 15px solid rgba(248, 248, 255, 1);
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translate(-50%, -10%);
      z-index: 10;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_text {
      padding: 60px 30px 30px 30px;
      text-align: center;
    }
    &_name {
      margin: 5px auto;
      font-weight: 600;
      font-size: 22px;
      text-align: center;
    }

    &_skill {
      font-weight: 400;
      font-size: 17px;
      color: #898989;
      margin: 20px 0;
    }
    &_skillMain {
      overflow: auto;
      font-weight: 400;
      font-size: 17px;
      margin-bottom: 20px;
    }
    &_email {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-size: 17px;
    }
    &:hover {
      .character_social {
        bottom: 0;
      }
      .character_overlay {
        opacity: 1;
      }
    }
  }
  &_social {
    position: absolute;
    bottom: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: $btnColor;
    color: #fff;
    padding: 42px;
    transition: bottom 0.4s;
    cursor: initial;
    &_icon {
      margin: 15px 0;
      a {
        color: #fff;
      }
      i {
        cursor: pointer;
        font-size: 30px;
        margin: 0 5px;
      }
    }

    &_number {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      i {
        font-size: 30px;
      }
      a {
        color: #fff;
      }
    }
  }

  &_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(5px);
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
  }
}
