.contact {
  &_us {
    background: linear-gradient(rgba(29, 42, 70, 0.8), rgba(23, 36, 66, 0.8)),
      url("https://s3-alpha-sig.figma.com/img/a097/99a8/8305613c0bc1ba28f1cbce77215e77ca?Expires=1655683200&Signature=RG3ihMJlaidbkhiiMO-bceOm2zN2RsMDXvNY8EBiLcR8ymZcJt-OGFc93nNoQ4F0sBvBo8Vrhe9WSXz~z6Rkv0oND3aJ6e8WwEtEfLdu27gKPryxq4F2tWbMR-kuQvj-2b5Dy1lCVei5XdDYqEizbgR4lGRzJI9M3HYs-IXAewDFFcoSPrLqz9MadLey8ZZSkz2jrUFYNzq9KEfa-VajwCb6-XPTjxRgC5k9VXXvFokdpo1u~gsIjxz6an~piDINLK8N-jCrFdDwp0v1aISwZ5Emvng5j0Y4MfQkF2HYY7-hGD0~0JvsIAiDLQtDTJtHQs73X1WHMXLWP~IircP7ZA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px 0;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 60px 20px !important;
    h2 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 27px;
      color: #fff;
    }
    .btn {
      &_box {
        gap: 30px;
        margin-top: 30px;
        display: flex;
      }
    }
  }

  @media screen and (max-width: 602px) {
    &_container {
      h2 {
        text-align: center;
      }
      .btn {
        &_box {
          flex-direction: column;
        }
      }
    }
  }
}
