.contact {
  &_us {
    background: linear-gradient(rgba(29, 42, 70, 0.8), rgba(23, 36, 66, 0.8)) url(https://s3-alpha-sig.figma.com/img/a097/99a8/8305613c0bc1ba28f1cbce77215e77ca?Expires=1651449600&Signature=UP862v0CJy7M4sNU5EwQJYLpQNM6blFONRMns7VaiYUH-XVh-qWZjVW3BeXfh6Ex9mFujuVFW3ktV02aBs4Ly7JU7ue7goxU6xgOcypzRCC-dtCW5tYcwIp75uO23UMlRAlkm4wpTqBwROD2UnbXNscXC5cdlkuZnwCQ9FJHVX-MvekE8aD8javhKBrmSspzZKVbMN3pGmb-IHqdDlV8F7sJ49jQ-bN8DWusy1wfNo-3H~kQnpImPQrTeKA7-moUvReD20n4P8lvCLxEzKVAYZNDPctCecdU0wEfP5RP6Sx~osPgApRiy17D5ebVgNK0mFT1lP1gZGRYDw66NphEsw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat center;
    background-size: cover;
    margin: 100px 0;
  }

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 60px 20px !important;
    h2 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 27px;
      color: #fff;
    }
    .btn {
      &_box {
        gap: 30px;
        margin-top: 30px;
        display: flex;
      }
    }
  }

  @media screen and (max-width: 602px) {
    &_container {
      h2 {
        text-align: center;
      }
      .btn {
        &_box {
          flex-direction: column;
        }
      }
    }
  }
}
