.courses {
  width: 100%;
  height: 321px;
  margin-top: 100px;
  background: linear-gradient(
      rgba($color: #000000, $alpha: 0.8),
      rgba($color: #0000000c, $alpha: 0.8)
    ),
    url("../../../public/img/3a8bc72d6cec157c6183b1b9bf23bbd8.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: #fff;
    h1 {
      font-size: 43px;
      font-weight: 700;
    }
    p {
      margin-top: 15px;
      font-weight: 700;
      a {
        color: #fff;
      }
      color: rgba(255, 255, 255, 0.715);
    }
  }

  @media screen and (max-width: 678.98px) {
    &_container {
      align-items: center;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
