*{
    margin: 0;
    padding: 0;
}

.CharacterContent{
    margin-top: 500px;
    margin-left: 500px;
    padding: 30px;
    position: relative;
    width: 288px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8FF;
    border-radius: 5px;
    text-align: center;
}

.characterName{
    width: 50%;
    margin: 70px auto 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.characterInfo{
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #898989;
}

.characterDescription{
    width: 75%;
    margin: 20px auto 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: black;
}

.characterMail{
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: black;
}

.characterAvatar{
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid #F8F8FF;
}